<div class = "device-management-component">

    <mat-form-field class = "device-type-input">
        <mat-label>Name of the device</mat-label>
        <input matInput placeholder = "Name/Type" type = "text">
    </mat-form-field>

    <mat-form-field class = "time-trashold-input">
        <mat-label>Sending time trashold</mat-label>
        <input matInput placeholder = "Time in ms" type = "number">
    </mat-form-field>

    <div class = "device-switch-container">
        <mat-label>Device Switch </mat-label>
        <mat-slide-toggle class = "device-switch-slider"></mat-slide-toggle>
    </div>
</div>