<div class="device-info-component">
    <div class = "device-switch-container">
        <mat-label>Device Switch </mat-label>
        <mat-slide-toggle class = "device-switch-slider" [checked]="_isSensorOn" 
        (change)="onDeviceToggleChange($event)"></mat-slide-toggle>
    </div>

    <mat-form-field class = "device-sensor-name">
        <mat-label>Name of the device</mat-label>
        <input matInput placeholder = "Name" type = "text" [value]="_deviceName">
    </mat-form-field>
    <button mat-raised-button id="device-btn-name">Submit</button>

    <mat-form-field class = "device-sensor-delay">
        <mat-label>Sending time</mat-label>
        <input matInput placeholder = "Time in miliseconds" type = "text" [value]="_readingDelayMs">
    </mat-form-field>
    <button mat-raised-button id="device-btn-delay">Submit</button>
</div>